---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { getCollection } from "astro:content";

import { useTranslator } from "@/i18n/utils";
import { LOCALES, type Lang } from "@/types/i18n";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";

const allPosts = await getCollection("blog");

const t = useTranslator(Astro.currentLocale as Lang);
---

<Layout pageTitle={t("blog.all-articles")}>
  <title slot="head">{`${t("blog.all-articles")} | ${t("site-name")}`}</title>

  <Header />
  <div>
    <h1>{t("blog.all-articles")}</h1>
    <p>{t("blog.search-articles")}</p>
    <input
      type="text"
      id="searchInput"
      placeholder="タイトルから記事を検索..."
      style="width: 100%; padding: 8px; margin-bottom: 16px; box-sizing: border-box;"
    />
    <ul>
      {
        allPosts
          .toSorted((a: any, b: any) => {
            const dateA = new Date(a.data.lastUpdate ?? a.data.date);
            const dateB = new Date(b.data.lastUpdate ?? b.data.date);
            return dateB.getTime() - dateA.getTime();
          })
          .map((post) => (
            <li>
              <a href={`/blog/${post.id.replace(/\/index$/, "")}/`}>
                {post.data.title}
              </a>
            </li>
          ))
      }
    </ul>
  </div>
  <Footer />
</Layout>

<style>
  div {
    margin: 80px max(20px, 5%);
  }
</style>

<script>
  import "../../utils/prototypes";
  const searchInput = document.getElementById(
    "searchInput",
  ) as HTMLInputElement;

  const postList = document.querySelectorAll("ul li");

  searchInput.addEventListener("input", () => {
    const filter = searchInput.value.toLowerCase().toKatakana();

    postList.forEach((post) => {
      const postElement = post as HTMLElement;

      const title = postElement.textContent?.toLowerCase().toKatakana() || "";

      if (title.includes(filter)) {
        postElement.style.display = "";
      } else {
        postElement.style.display = "none";
      }
    });
  });
</script>
