---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
const allPosts = Object.values(import.meta.glob("./**/*.md", { eager: true }));
const pageTitle = "ブログ全記事一覧";
---

<Layout pageTitle={pageTitle}>
  <Header />
  <div>
    <p>全記事の一覧です。</p>
    <input
      type="text"
      id="searchInput"
      placeholder="タイトルから記事を検索..."
      style="width: 100%; padding: 8px; margin-bottom: 16px; box-sizing: border-box;"
    />
    <ul>
      {
        allPosts
          .toSorted((a: any, b: any) => {
            const dateA = new Date(
              a.frontmatter.lastUpdate ?? a.frontmatter.date,
            );
            const dateB = new Date(
              b.frontmatter.lastUpdate ?? b.frontmatter.date,
            );
            return dateB.getTime() - dateA.getTime();
          })
          .map((post: any) => (
            <li>
              <a href={post.url}>
                {post.frontmatter.title || "【タイトル未設定】"}
              </a>
            </li>
          ))
      }
    </ul>
  </div>
  <Footer />
</Layout>

<style>
  div {
    margin: 80px max(20px, 5%);
  }
</style>

<script>
  import "../../utils/prototypes";
  const searchInput = document.getElementById(
    "searchInput",
  ) as HTMLInputElement;

  const postList = document.querySelectorAll("ul li");

  searchInput.addEventListener("input", () => {
    const filter = searchInput.value.toLowerCase().toKatakana();

    postList.forEach((post) => {
      const postElement = post as HTMLElement;

      const title = postElement.textContent?.toLowerCase().toKatakana() || "";

      if (title.includes(filter)) {
        postElement.style.display = "";
      } else {
        postElement.style.display = "none";
      }
    });
  });
</script>
