---
import BlogCard from "./atoms/BlogCard.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("blog");
---

<h2>最近のブログ記事</h2>

<ul>
  {
    allPosts
      .toSorted((a: any, b: any) => {
        const dateA = new Date(a.data.lastUpdate ?? a.data.date);
        const dateB = new Date(b.data.lastUpdate ?? b.data.date);
        return dateB.getTime() - dateA.getTime();
      })
      .slice(0, 12)
      .map((post: any) => (
        <li>
          <BlogCard
            title={post.data.title}
            desc={post.data.desc || "【説明未設定】"}
            thumbnail={post.data.thumbnail || undefined}
            link={`/blog/${post.id.replace(/\/index$/, "")}/`}
            date={post.data.date || ""}
            lastUpdate={post.data.lastUpdate || ""}
          />
        </li>
      ))
  }
</ul>

<style>
  h2 {
    margin: 220px 0 70px;
  }

  ul {
    list-style-type: none;
    padding: 0 20px;
    margin: 0 auto 120px;
    display: grid;
    gap: 45px 16px;
    grid-template-columns: 1fr;
    max-width: 1920px;

    @media (min-width: 768px) {
      grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
    }
  }

  li {
    margin: 0 auto;
    font-size: 1.1em;
    width: 100%;
    height: 100%;
  }
</style>
